/* .section2 .blog-div .blog .content .img-holder a{}
.section2 .blog-div .blog .content .img-holder a img{
    /* width: 100%;
}
#institle1{
    border-radius: 50%;
}
/* for post1  */

/* #post-one a{
    display: none;
}
#post-one a:nth-child(1){
    display: block;
} */

/* for post1  */
/* 
#post-two a{
    display: none;
}
#post-two a:nth-child(2){
    display: block;
} */

/* for post1  */
/* 
#post-three a{
    display: none;
}
#post-three a:nth-child(3){ */
    display: block;
} */ */

